.header {
    display: flex;
    justify-content: space-between;
    border: 2x black;
}

.logo {
    size: 10px;
    height: 100px;
    width: 150x;
}


.nav-items {
    padding: 0px 20px;
}

.nav-items>ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;

}

.res-card {
    padding: 5px;
    width: 200px;
    height: 380px;
    margin: 10px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100px;
    height: 100px;

}

.filter-btn {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 10px;
    width: 200px;
    height: 380px;
    background-color: gray;
}

.login {
    padding: 0 20px;
    margin: 5px;
    cursor: pointer;
}

.search-btn {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

.filter {
    display: flex;
}